.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid;
}

/* Message d'erreur (rouge) */
.message.error {
    color: #fff;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1em;
}

/* Message de succès ou autre (vert) */
.message.success {
    background-color: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}